{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block meta %}
    {{ parent() }}
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hello World!</h1>
            <p class="lead">
                This application is your access to all SDS data available.
            </p>
            <hr class="my-4" />
            <p>The data is from <a href="https://www.sigmaaldrich.com">Sigma-Aldrich</a>, <a href="https://pubchemdocs.ncbi.nlm.nih.gov/about">PubChem</a> and <a href="https://wikidata.org">Wikidata</a>.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('filter') }}">Find data</a>
            </p>
        </div>
    </div>

    <div class="container">
        <h1>API</h1>
        <p>
            Want to load SDS data from an application? Just make a request to 
            <code>{{ absolute_url(path("api_substance", { 'format' : 'json'  })) }}</code>
            with a parameter called "search". Place whatever search term you want in there to fetch a substance. 
            The result will look like this, for example:
            <pre class="prettyprint"><code class="lang-js lang-json">{{ render(controller('App\\Controller\\ApiController::getSubstanceAction', { 'format' : 'json', 'search' : 'HNO3'})) }}</code></pre>
        </p>
    </div>
{% endblock %}
